.navbar {
  width: 100%;
  display: flex;

  padding: 24px 32px;
  justify-content: space-between;

  a {
    font-family: $fontSans;
    text-decoration: none;
    color: $grey-2;

    &:hover {
      color: $hoverColor;
    }
  }
}

.navbar__brand {
  font-size: 20px;
}

.navbar__items {
  display: flex;
}

.navbar__item {
  font-family: $fontSans;

  + .navbar__item {
    margin-left: 16px;
  }
}
