.posts-list {
  display: flex;
  flex-direction: column;
}

.post-preview {
  display: flex;

  + .post-preview {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid $grey-1;
  }
}

.visual-preview {
  display: flex;
  flex-direction: column;
  margin-right: 24px;

  img {
    width: 180px;
    height: 96px;
    object-fit: contain;
    border-radius: 8px;
  }

  .post-meta {
    text-align: center;
    color: $grey-2;
    font-family: $fontSans;
    font-size: 12px;
  }
}

.content-preview {
  a {
    color: $textBlack;
    text-decoration: none;

    &:hover {
      color: $hoverColor;
    }
  }

  h2 {
    margin: 0;
    line-height: 1.5;
  }

  .post-subtitle {
    margin-top: 0;
    margin-bottom: 24px;
  }

  p {
    font-family: $fontSans;
    font-size: 14px;
    color: $grey-3;
  }
}

.blog-post {
  min-height: 50vh;
}

.blog-post__reading_time, .blog-post__meta {
  line-height: 32px;
  text-align: center;
  color: $grey-2;

  i {
    margin-right: 8px;
  }
}

.blog-post__tags, .blog-post__related {
  margin-top: 32px;

  h4 {
    color: $grey-3;
  }
}

.blog-post__tags, .blog-tags {
  a {
    font-family: $fontSans;
    font-size: 12px;
    color: $textBlack;
    text-decoration: none;
    border: 1px solid $lightPrimaryColor;
    padding: 2px 8px;
    border-radius: 12px;

    &:hover {
      background-color: $hoverColor;
      color: #fff;
    }
  }
}

.blog-post__related {

  .blog-post__related-posts {
    display: flex;

    a {
      font-family: $fontSans;
      flex: 33.33%;
      display: block;
      justify-content: center;
      text-decoration: none;
      color: $grey-2;

      &:hover {
        color: $textBlack;
      }
    }
  }

}

.blog-pager {
  margin-top: 48px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  a {
    font-family: $fontSans;
    text-decoration: none;
    color: $grey-2;

    &:hover {
      color: $textBlack;
    }
  }
}
