{{ define "main" }}
<div class="container" role="main">
  {{ with .Content }}
  <div class="well">
    {{.}}
  </div>
  {{ end }}
  <div class="posts-list">
    {{ range .Paginator.Pages }}
    <article class="post-preview">
      {{ $thumbnailSource := .Resources.GetMatch "images/thumbnail.*" }}
      {{ if $thumbnailSource}}
      <div class="visual-preview">
        {{ $thumbnail := $thumbnailSource.Resize "x180 q90" }}
        <img src="{{ $thumbnail.Permalink }}" alt="{{ .Title }}" />

        <p class="post-meta">
          {{ if .Site.Params.MinimalPostMeta }}
          {{ partial "minimal_post_meta.html" . }}
          {{ else }}
          {{ partial "post_meta.html" . }}
          {{ end }}
        </p>
      </div>
      {{ end }}

      <div class="content-preview">
        <a href="{{ .Permalink }}">
          <h2 class="post-title">{{ .Title }}</h2>
        </a>

        <p class="post-subtitle">
          {{ if .Params.subtitle }}
            {{ .Params.subtitle }}
          {{ else }}
            {{ .Summary }}
          {{ end }}
        </p>

        {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </div>
        {{ end }}

      </article>
      {{ end }}
    </div>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
      <li class="previous">
        <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
      </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
      <li class="next">
        <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
