{{ define "main" }}
<div class="container" role="main">
  <article role="main" class="blog-post">
    <div class="blog-post__meta">
      <div class="blog-post__meta-details">
        {{ partial "post_meta.html" . }}
      </div>

      {{ if .Site.Params.readingTime }}
        <div class="blog-post__reading_time">
          <i class="fas fa-clock"></i>{{ i18n "readingTime"}}{{ .ReadingTime }} {{ i18n "readTime" }} reading time
        </div>
      {{ end }}
    </div>

    {{ .Content }}

    {{ if .Params.tags }}
      <div class="blog-post__tags">
        <h4>Tags</h4>
        {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}

    {{ if .Site.Params.showRelatedPosts }}
      {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
      <div class="blog-post__related">
        <h4>{{ i18n "seeAlso" }}</h4>

        <div class="blog-post__related-posts">
          {{ range . }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    {{ end }}
  </article>

  {{ if ne .Type "page" }}
    <ul class="pager blog-pager">
      {{ if .PrevInSection }}
        <li class="previous">
          <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">
            &#8249;&nbsp;{{ i18n "previousPost" }}
          </a>
        </li>
      {{ end }}
      {{ if .NextInSection }}
        <li class="next">
          <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">
            {{ i18n "nextPost" }} &nbsp; &#8250;
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
{{ end }}
