<nav class="navbar">
  <div class="navbar__header">
    <a class="navbar__brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
  </div>

  <div class="navbar__items">
    {{ range .Site.Menus.main.ByWeight }}
      {{ if .HasChildren }}
        <div class="navlinks-container">
          <a class="navlinks-parent">{{ .Name }}</a>
          <div class="navlinks-children">
            {{ range .Children }}
              <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
      {{ else }}
        <div class="navbar__item">
          <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
        </div>
      {{ end }}
    {{ end }}
  </div>
</nav>
